<highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi corporis sapiente soluta repellendus. Corrupti vel assumenda, culpa quaerat omnis sunt, consectetur voluptates ducimus blanditiis doloribus dolorem, repudiandae ipsa sed eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ab sapiente aperiam accusantium cupiditate facilis, debitis quos accusamus laborum, libero temporibus rem eos optio cumque dolorem officia saepe repellat ut. </h5>
