<mat-card>
    <mat-card-content>
        <img text src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR3LQLdzqvqmaIeu45P0QoKt9ASPHfXGavFKe0xd3ypIWt1ine0" alt="">
        <h2>NAME        : <b>Dulquer Salmaan </b>
        </h2>
        <P>DESIGNATION : <b>CEO</b></P>
        
        <P> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora odio aspernatur recusandae qui laudantium molestiae libero dolorum quae consectetur laboriosam saepe, sint nemo odit, nobis labore, explicabo nesciunt. Optio, aperiam!</P>
        <P> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur incidunt, nisi aspernatur ut consequuntur error a dolore tempora natus assumenda, non vero obcaecati asperiores eius fugit perspiciatis reprehenderit est. Culpa!</P>
        <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit iste id, quis architecto dolor voluptatibus veritatis doloremque harum. Itaque ut voluptatum obcaecati vitae voluptas quaerat. Doloremque inventore recusandae assumenda itaque.</P>
    </mat-card-content>
  </mat-card>
