<div class="pro">
    <div class="profile">
        <h3>PROFILE</h3>
        <a routerLink="upgrade to pro"> <img width="50px"  src="https://pbs.twimg.com/profile_images/963826845589291009/xx6j6G9R_400x400.jpg" alt=""> &nbsp; &nbsp; <b>Dulquer Salmaan</b> </a>
        <div></div>
    </div>

    <h3>MENU</h3>
    <a routerLink=""> <mat-icon>dashboard</mat-icon>   Dashboard example</a>

    <h3>UI COMPONENTS</h3>
    <a routerLink="elements"><mat-icon>diamond</mat-icon>Elements</a>
    <a routerLink="components"><mat-icon>directions car</mat-icon>Componets</a>

    <h3>WIDGETS</h3>
    <a routerLink="dashboard boxes"><mat-icon>crop 7 5</mat-icon>Dashboard Boxes</a>

    <h3>FORMS</h3>
    <a routerLink="control"><mat-icon>stop</mat-icon>Controls</a>
    <a routerLink="layouts"><mat-icon>edit</mat-icon>Layouts</a>
    <a routerLink="validation"><mat-icon>details</mat-icon>Validation</a>

    <h3>CHARTS</h3>
    <a routerLink="chatjs"><mat-icon>score</mat-icon>Chatjs</a>


</div>
