<div class="cardd">

   <div class="">
        <mat-card>
            <app-card
            bg="red"
            icon="draw"
            discription="Designs"
            count="218">
                
            </app-card>
          </mat-card>
   </div>
      <div>
        <mat-card>
            <app-card
            bg="green"
            icon="badge"
            discription="Employee"
            count="1250"></app-card>
          </mat-card>
      </div>
      <div>
        <mat-card>
            <app-card
            bg="blue"
            icon="apartment"
            discription="Projects"
            count="529"></app-card>
          </mat-card>
      </div>  
      <div>
        <mat-card>
            <app-card
            bg="orange"
            icon="work"
            discription="Running"
            count="125"></app-card>
          </mat-card>
      </div>
      <div>
        <mat-card>
            <app-card
            bg="yellow"
            icon="percent"
            discription="Revenue%"
            count="80%"></app-card>
          </mat-card>
      </div>          
</div >


<div class="table">
 <app-table>
  
 </app-table>

</div>
<div class="pie">
    <app-piechart></app-piechart>
    <app-layouts></app-layouts>
</div>